﻿.users {
  display: flex;
  flex-flow: column nowrap;

  @include media("<62rem") {
    padding-left: 0;
    padding-right: 0;
  }
}

.admin-header-link {
  cursor: pointer;
}

.admin-content-wrapper {
  display: none;

  .blue-separator {
     margin: 0;
  }
}