﻿.chat-remodal {
  padding: 0;

    button {
      top: 1rem;
      float: right;
    }

  .chat-wrapper {
      margin: 0;

    .people-list-wrapper {
        background: #333;
        color: #fff;
        height: 600px;
        max-height: 600px;
        overflow-y: auto;
        padding: 0;
          
        .people-list {
            margin-top: 3rem;

            li {
                padding: 1rem 0;
                text-align: center;

                a {
                    color: #fff;
                }

                &:hover {
                    background: rgba(255, 255, 255, .05);
                }

                &.active {
                    background: rgba(255, 255, 255, .05);
                }
            }
        }
    }

    .chat {
        position: relative;
        height: 600px;
        padding: 0;

        .chat-history {
            padding: 1rem;
            margin-top: 3rem;
            height: 350px;
            max-height: 350px;
            overflow-y: auto;
            border-top: 2px solid #ddd;
            border-bottom: 2px solid #ddd;

            .message{
                margin: 0.5rem 0;
                padding: 0.5rem;
                width: 90%;
                box-sizing: border-box                
            }

            .send {
                background: $color-blue;
                color: #fff;
                float: right;
                border-radius: 4px 4px 0 4px;   
                border: 1px solid #ddd;                 
            }

            .received {
                background: $color-light-blue;
                float: left;
                border-radius: 4px 4px 4px 0;
                border: 1px solid #ddd;
            }
        }       
    }           
  }

    @include media(">46rem") {
        width: 700px;
    }

    @include media("<=46rem") {
        width: 600px;
    }

    @include media("<=40rem") {
        width: 500px;
    }

    @include media("<=34rem") {
        width: 450px;
    }
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}