.container {
  margin: 0 auto;
}

.wrap {
  max-width: 71rem;
  margin: 0 auto;
}

.box {
  margin-top: 2rem;
  background: $color-white;
  padding: 1rem;
  background-image: linear-gradient(top, $color-blue, $color-blue 50px, transparent 50px, transparent 100%);
  background-image: -webkit-linear-gradient(top, $color-blue, $color-blue 50px, transparent 50px, transparent 100%);
  /*background-image: linear-gradient(top, $color-blue, $color-blue $header-height, transparent $header-height, transparent 100%);
  background-image: -webkit-linear-gradient(top, $color-blue, $color-blue $header-height, transparent $header-height, transparent 100%);*/
}

.box-admin {
  margin-top: 2rem;
  background: $color-white;
  padding: 1rem;
  background-image: linear-gradient(top, #333, #333 50px, transparent 50px, transparent 100%);
    background-image: -webkit-linear-gradient(top, #333, #333 50px, transparent 50px, transparent 100%);
  /*background-image: linear-gradient(top, #333, #333 $header-height, transparent $header-height, transparent 100%);
  background-image: -webkit-linear-gradient(top, #333, #333 $header-height, transparent $header-height, transparent 100%);*/
}

.box-header {
  top: -8px;
  position: relative;
  text-align: center;
  color: $color-white;
}
