@import url(../bower_components/flexboxgrid/css/flexboxgrid.css);
@import url(../bower_components/remodal/dist/remodal.css);
@import url(../bower_components/animate.css/animate.css);
@import url(../bower_components/pikaday/css/pikaday.css);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.btn-action {
  background: #21b9ef;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 14px; }

.btn-right {
  float: right; }

.custom-checkbox {
  opacity: 0;
  float: left;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 6px 0 0 2px; }

.custom-checkbox + label {
  clear: none;
  padding-left: 30px;
  background: url("../images/checkbox-icon.svg") left center no-repeat; }

.custom-checkbox:checked + label {
  background-image: url("../images/checkbox-checked-icon.svg"); }

.custom-checkbox + .custom-checkbox-label {
  clear: none;
  padding-left: 30px;
  background: url("../images/checkbox-icon.svg") left center no-repeat; }

.custom-checkbox:checked + input[type=hidden] + label {
  background-image: url("../images/checkbox-checked-icon.svg"); }

.custom-checkbox + input[type=hidden] + label {
  clear: none;
  padding-left: 30px;
  background: url("../images/checkbox-icon.svg") left center no-repeat; }

.custom-radio {
  opacity: 0;
  float: left;
  cursor: pointer;
  width: 20px;
  margin: 6px 0 0 2px; }

.custom-radio + label {
  clear: none;
  padding-left: 30px;
  background: url("../images/checkbox-icon.svg") left center no-repeat; }

.custom-radio:checked + label {
  background-image: url("../images/checkbox-checked-icon.svg"); }

.user-img {
  background: #eff9fc;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer; }

.edit-img-wrapper {
  margin-bottom: 1rem;
  margin-left: 1rem; }
  .edit-img-wrapper .edit-img {
    width: 1rem;
    height: 1rem;
    float: right;
    cursor: pointer; }
  .edit-img-wrapper .delete-img {
    margin-top: 6px;
    width: 1rem;
    height: 1rem;
    float: right;
    cursor: pointer; }

nav ul {
  overflow: hidden;
  background-color: #333; }
  @media (max-width: 61.9rem) {
    nav ul {
      display: flex;
      flex-flow: column nowrap; } }

nav li {
  float: left; }
  nav li a {
    text-align: center;
    display: block;
    color: white;
    padding: 1rem;
    text-decoration: none;
    cursor: pointer; }
    nav li a:hover {
      background: #21b9ef; }

#logout {
  float: right; }

#menu-icon-wrapper {
  margin: 0;
  width: 100%; }
  #menu-icon-wrapper img {
    float: right;
    margin: 1rem;
    cursor: pointer; }
    @media (min-width: 62rem) {
      #menu-icon-wrapper img {
        display: none; } }

.blue-separator,
.gray-separator {
  border: none;
  height: 2px;
  margin-bottom: 24px; }

.blue-separator {
  background-color: #21b9ef; }

.gray-separator {
  background-color: #ddd; }

.question {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  margin-top: 1rem;
  background: #21b9ef; }
  .question > * {
    color: #fff;
    flex: auto; }
  .question .title {
    max-width: 70%; }
  .question .details {
    text-align: right;
    max-width: 30%; }
    .question .details .action {
      cursor: pointer; }
  .question .more {
    display: none;
    flex: 100%;
    margin-top: 1rem;
    background: #fff;
    padding: 1rem;
    color: #333;
    text-align: justify; }
    .question .more .user-img {
      margin: 1rem 1rem 0 0; }
    .question .more .offer-help {
      float: right;
      color: #21b9ef; }
    .question .more .already-offered {
      color: rgba(0, 0, 0, 0.3); }
    .question .more span {
      float: right;
      color: #21b9ef; }

.edit-form {
  display: none;
  margin-top: 3rem;
  width: 100%;
  position: relative; }
  .edit-form textarea {
    width: 100%;
    height: auto;
    font-size: 14px;
    margin: 0; }
  .edit-form input[type=text],
  .edit-form input[type=datetime] {
    float: right;
    text-align: right;
    font-size: 14px;
    margin: 0; }
  .edit-form input[type=submit] {
    margin-top: 1rem;
    margin-bottom: 0;
    width: 100%;
    height: 50px;
    background: #eff9fc;
    color: #828282; }
  .edit-form select {
    float: right; }

.edit-name {
  font-size: 22px !important;
  text-align: left !important;
  width: 100% !important;
  margin: 12px 0 !important; }

.edit-title,
.edit-location,
.edit-transport,
.edit-content {
  font-size: 18px !important;
  text-align: left !important;
  width: 100% !important;
  margin: 12px 0 !important; }

.new-message-form {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px; }
  .new-message-form textarea {
    width: 100%;
    height: 125px;
    resize: none;
    overflow: hidden;
    font-size: 14px; }

.default-form-wrapper {
  height: 500px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .default-form-wrapper form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: auto; }
    .default-form-wrapper form input[type=email],
    .default-form-wrapper form input[type=password],
    .default-form-wrapper form input[type=text],
    .default-form-wrapper form textarea,
    .default-form-wrapper form select {
      font-size: 20px;
      width: 100% !important; }
    .default-form-wrapper form select {
      padding: 3px; }
    .default-form-wrapper form > * {
      display: block; }
    .default-form-wrapper form .btn-action {
      position: relative;
      float: right; }
  @media (min-width: 46.1rem) {
    .default-form-wrapper {
      width: 500px; } }
  @media (max-width: 46rem) {
    .default-form-wrapper {
      width: 450px; } }
  @media (max-width: 42rem) {
    .default-form-wrapper {
      width: 400px; } }
  @media (max-width: 32rem) {
    .default-form-wrapper {
      width: 350px; } }
  @media (max-width: 28rem) {
    .default-form-wrapper {
      width: 300px; } }
  @media (max-width: 26rem) {
    .default-form-wrapper {
      width: 250px; } }

#header {
  position: relative;
  margin: 1rem; }
  #header button {
    float: right; }

#footer {
  width: 100%;
  height: 60px;
  position: absolute !important;
  background: #eff9fc;
  bottom: 0; }
  #footer a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    color: #828282; }

#validation-modal p {
  padding: 1rem !important;
  text-align: center;
  margin-bottom: 1rem; }

#validation-modal #remodal-message {
  font-size: 10px; }

.datepicker {
  border: 1px solid #333;
  padding: 0.5rem 1rem; }

/****** Style Star Rating Widget *****/
.rating {
  border: none;
  width: 132px;
  margin: 0 auto; }

.rating > input {
  display: none; }

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005"; }

.rating > .half:before {
  content: "\f089";
  position: absolute; }

.rating > label {
  color: #ddd;
  float: right; }

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700; }

/* hover previous stars in list */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85; }

/*
 *  Remodal - v1.0.6
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */
/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */
/* Default theme styles for the background */
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px); }

/* Default theme styles of the overlay */
.remodal-overlay {
  background: rgba(43, 46, 56, 0.9); }

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes; }

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes; }

/* Default theme styles of the modal dialog */
.remodal {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background: #fff;
  height: auto;
  background: #fff;
  padding: 1rem 0 0; }
  .remodal .header {
    position: relative;
    margin: 0 1rem; }
    .remodal .header button {
      float: right; }
  .remodal .content {
    position: relative;
    height: auto;
    padding: 1rem; }
    .remodal .content .gray-separator {
      margin: 12px 0; }
  .remodal .user .user-img,
  .remodal .user .biography {
    display: block;
    margin: 0 auto;
    text-align: center; }
  .remodal .user .user-info {
    width: 70%;
    margin: 0 auto; }
    .remodal .user .user-info span {
      float: right;
      color: #21b9ef; }
  .remodal .user .review-wrapper {
    max-height: 150px;
    overflow-y: auto; }
    .remodal .user .review-wrapper .review {
      background: #21b9ef;
      border-radius: 4px;
      border: 1px solid #ddd;
      padding: 0.5rem;
      margin: 0.5rem;
      color: #fff; }
      .remodal .user .review-wrapper .review .details {
        font-weight: bold; }
        .remodal .user .review-wrapper .review .details .helpseeker-name {
          float: left; }
        .remodal .user .review-wrapper .review .details .review-rating {
          float: right; }
  .remodal .footer {
    width: 100%;
    height: 60px;
    position: relative !important;
    background: #eff9fc;
    bottom: 0; }
    .remodal .footer a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 22px;
      color: #828282; }
  @media (min-width: 46.1rem) {
    .remodal {
      width: 500px; } }
  @media (max-width: 46rem) {
    .remodal {
      width: 450px; } }
  @media (max-width: 42rem) {
    .remodal {
      width: 400px; } }
  @media (max-width: 32rem) {
    .remodal {
      width: 350px; } }
  @media (max-width: 28rem) {
    .remodal {
      width: 300px; } }
  @media (max-width: 26rem) {
    .remodal {
      width: 250px; } }

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes; }

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes; }

/* Vertical align of the modal dialog */
.remodal,
.remodal-wrapper:after {
  vertical-align: middle; }

/* Close button */
.remodal-close {
  z-index: 9999;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  overflow: visible;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent; }

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38; }

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  content: "\00d7";
  text-align: center; }

/* Dialog buttons */
.remodal-confirm,
.remodal-cancel {
  font: inherit;
  display: inline-block;
  overflow: visible;
  min-width: 110px;
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  outline: 0; }

.remodal-confirm {
  color: #fff;
  background: #81c784; }

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a; }

.remodal-cancel {
  color: #fff;
  background: #e57373; }

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350; }

/* Remove inner padding and border in Firefox 4+ for the button tag. */
.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* Keyframes
   ========================================================================== */
@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0; } }

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0; } }

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/* Media queries
   ========================================================================== */
/*@media only screen and (min-width: 641px) {*/
/*.remodal {*/
/*max-width: 700px;*/
/*}*/
/*}*/
/* IE8
   ========================================================================== */
.lt-ie9 .remodal-overlay {
  background: #2b2e38; }

.container {
  margin: 0 auto; }

.wrap {
  max-width: 71rem;
  margin: 0 auto; }

.box {
  margin-top: 2rem;
  background: #fff;
  padding: 1rem;
  background-image: linear-gradient(top, #21b9ef, #21b9ef 50px, transparent 50px, transparent 100%);
  background-image: -webkit-linear-gradient(top, #21b9ef, #21b9ef 50px, transparent 50px, transparent 100%);
  /*background-image: linear-gradient(top, $color-blue, $color-blue $header-height, transparent $header-height, transparent 100%);
  background-image: -webkit-linear-gradient(top, $color-blue, $color-blue $header-height, transparent $header-height, transparent 100%);*/ }

.box-admin {
  margin-top: 2rem;
  background: #fff;
  padding: 1rem;
  background-image: linear-gradient(top, #333, #333 50px, transparent 50px, transparent 100%);
  background-image: -webkit-linear-gradient(top, #333, #333 50px, transparent 50px, transparent 100%);
  /*background-image: linear-gradient(top, #333, #333 $header-height, transparent $header-height, transparent 100%);
  background-image: -webkit-linear-gradient(top, #333, #333 $header-height, transparent $header-height, transparent 100%);*/ }

.box-header {
  top: -8px;
  position: relative;
  text-align: center;
  color: #fff; }

* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
  /*background: $color-light-blue;*/
  background: #f1f1f1; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

h2 {
  font-size: 22px;
  font-weight: 400; }

h3 {
  font-size: 18px;
  font-weight: 400; }

input,
textarea {
  outline: none;
  border: none;
  font-size: 20px;
  margin: 12px 0;
  font-family: 'Open Sans', sans-serif !important; }

textarea {
  resize: vertical; }

input[type=submit] {
  cursor: pointer; }

label {
  margin: 12px 0;
  color: #828282; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #333; }

.display-none {
  display: none; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #333; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #333;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #333;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #333; }

::-webkit-scrollbar {
  width: 14px;
  height: 18px; }

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05); }

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none; }

::-webkit-scrollbar-corner {
  background-color: transparent; }

#content {
  width: 100%;
  height: 100%; }

.logon-bg {
  background: url("../images/home-bg.png") no-repeat center center fixed;
  background-size: cover; }

.profile .user-img {
  position: relative;
  top: 9px;
  display: block;
  margin: 0 auto; }

.profile h2 {
  text-align: center;
  margin: 3px 0; }

.profile p {
  text-align: center; }

.about ul {
  top: 1rem;
  margin: 1rem 0 3px 0; }
  .about ul li span {
    color: #21b9ef;
    float: right; }

#planning ul {
  top: 1rem;
  margin: 1rem 0 3px 0; }
  #planning ul li span {
    float: right;
    color: #21b9ef; }

.questions {
  display: flex;
  flex-flow: column nowrap; }
  @media (max-width: 61.9rem) {
    .questions {
      padding-left: 0;
      padding-right: 0; } }

.users {
  display: flex;
  flex-flow: column nowrap; }
  @media (max-width: 61.9rem) {
    .users {
      padding-left: 0;
      padding-right: 0; } }

.admin-header-link {
  cursor: pointer; }

.admin-content-wrapper {
  display: none; }
  .admin-content-wrapper .blue-separator {
    margin: 0; }

.chat-remodal {
  padding: 0; }
  .chat-remodal button {
    top: 1rem;
    float: right; }
  .chat-remodal .chat-wrapper {
    margin: 0; }
    .chat-remodal .chat-wrapper .people-list-wrapper {
      background: #333;
      color: #fff;
      height: 600px;
      max-height: 600px;
      overflow-y: auto;
      padding: 0; }
      .chat-remodal .chat-wrapper .people-list-wrapper .people-list {
        margin-top: 3rem; }
        .chat-remodal .chat-wrapper .people-list-wrapper .people-list li {
          padding: 1rem 0;
          text-align: center; }
          .chat-remodal .chat-wrapper .people-list-wrapper .people-list li a {
            color: #fff; }
          .chat-remodal .chat-wrapper .people-list-wrapper .people-list li:hover {
            background: rgba(255, 255, 255, 0.05); }
          .chat-remodal .chat-wrapper .people-list-wrapper .people-list li.active {
            background: rgba(255, 255, 255, 0.05); }
    .chat-remodal .chat-wrapper .chat {
      position: relative;
      height: 600px;
      padding: 0; }
      .chat-remodal .chat-wrapper .chat .chat-history {
        padding: 1rem;
        margin-top: 3rem;
        height: 350px;
        max-height: 350px;
        overflow-y: auto;
        border-top: 2px solid #ddd;
        border-bottom: 2px solid #ddd; }
        .chat-remodal .chat-wrapper .chat .chat-history .message {
          margin: 0.5rem 0;
          padding: 0.5rem;
          width: 90%;
          box-sizing: border-box; }
        .chat-remodal .chat-wrapper .chat .chat-history .send {
          background: #21b9ef;
          color: #fff;
          float: right;
          border-radius: 4px 4px 0 4px;
          border: 1px solid #ddd; }
        .chat-remodal .chat-wrapper .chat .chat-history .received {
          background: #eff9fc;
          float: left;
          border-radius: 4px 4px 4px 0;
          border: 1px solid #ddd; }
  @media (min-width: 46.1rem) {
    .chat-remodal {
      width: 700px; } }
  @media (max-width: 46rem) {
    .chat-remodal {
      width: 600px; } }
  @media (max-width: 40rem) {
    .chat-remodal {
      width: 500px; } }
  @media (max-width: 34rem) {
    .chat-remodal {
      width: 450px; } }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }
