.profile {

  .user-img {
    position: relative;
    top: 9px;
    display: block;
    margin: 0 auto;
  }

  h2 {
    text-align: center;
    margin: $space-xxs 0;
  }

  p {
    text-align: center;
  }
}
