﻿@using asp.Data
@using Asp.Models
@{
    var questions = Global.AllQuestions;
    var volunteers = Global.AllVolunteers;
    var helpseekers = Global.AllHelpseekers;
}

@{ Html.RenderPartial("~/Views/Navigation/_TopNavBar.cshtml"); }

<div class="container-fluid wrap">
    <div class="row">
        <div class="col-xs">
            <div class="box-admin users">
                <h2 class="box-header admin-header-link">Hulpbehoevende</h2>

                <div class="admin-content-wrapper">

                    @foreach (var helpseeker in helpseekers)
                    {
                        <div class="box profile">
                            <img class="user-img" src="@($"data:image/png;base64,{Convert.ToBase64String(helpseeker.ProfileImage.FileContent)}")">
                            <h2 class="name">@helpseeker.Name</h2>
                            <p class="biography">@helpseeker.Bio</p>
                            <div class="about">
                                <ul>
                                    <li>Woont in <span>@(string.IsNullOrEmpty(helpseeker.Location) ? "-" : @helpseeker.Location)</span></li>
                                    <li>Geboortedatum <span>@(helpseeker.DateOfBirth?.ToString("d MMMM yyyy") ?? "-")</span></li>
                                    <li>Kan met openbaar vervoer <span>@(helpseeker?.CanUsePublicTransport == true ? "ja" : "nee")</span></li>
                                    <li>
                                        @if (!helpseeker.HasTimeout)
                                        {
                                            using (Html.BeginForm("SetUserTimeout", "Home", FormMethod.Post))
                                            {
                                                <input type="hidden" name="email" value="@helpseeker.Email" />
                                                <input type="text" class="datepicker" placeholder="@DateTime.Now.ToString("d MMMM yyyy")" name="timeout" style="font-size: 14px">
                                                <input type="submit" class="btn-action btn-right" value="Timeout" />
                                            }
                                        }
                                        else
                                        {
                                            <li style="margin-bottom: 1rem">Heeft timeout tot<span>@helpseeker.TimeoutTill.Value.ToString("d MMMM yyyy")</span></li>
                                        }
                                    </li>
                                </ul>
                            </div>
                            <hr class="blue-separator" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs">
            <div class="box-admin users">
                <h2 class="box-header admin-header-link">Vrijwilligers</h2>

                <div class="admin-content-wrapper">
                    
                    @foreach (var volunteer in volunteers)
                    {
                        <div class="box profile">
                            <img class="user-img" src="@($"data:image/png;base64,{Convert.ToBase64String(volunteer.ProfileImage.FileContent)}")">
                            <h2 class="name">@volunteer.Name</h2>
                            <p class="biography">@volunteer.Bio</p>
                            <div class="about">
                                <ul>
                                    <li>Woont in <span>@(string.IsNullOrEmpty(volunteer.Location) ? "-" : @volunteer.Location)</span></li>
                                    <li>Geboortedatum <span>@(volunteer.DateOfBirth?.ToString("d MMMM yyyy") ?? "-")</span></li>
                                    <li>Heeft autorijbewijs <span>@(volunteer?.HasDrivingLicense == true ? "ja" : "nee")</span></li>
                                    <li>Heeft auto <span>@(volunteer?.HasCar == true ? "ja" : "nee" )</span></li>
                                    <li>
                                        @if (!volunteer.HasTimeout)
                                        {
                                            using (Html.BeginForm("SetUserTimeout", "Home", FormMethod.Post))
                                            {
                                                <input type="hidden" name="email" value="@volunteer.Email"/>
                                                <input type="text" class="datepicker" placeholder="@DateTime.Now.ToString("d MMMM yyyy")" name="timeout" style="font-size: 14px">
                                                <input type="submit" class="btn-action btn-right" value="Timeout"/>
                                            }
                                        }
                                        else
                                        {
                                            <li style="margin-bottom: 1rem">Heeft timeout tot<span>@volunteer.TimeoutTill.Value.ToString("d MMMM yyyy")</span></li>
                                        }
                                    </li>
                                </ul>

                                <hr class="gray-separator" style="margin: 0"/>

                                <ul>
                                    <li>Maandag <span>@volunteer.Availabilities[0]</span></li>
                                    <li>Dinsdag <span>@volunteer.Availabilities[1]</span></li>
                                    <li>Woensdag <span>@volunteer.Availabilities[2]</span></li>
                                    <li>Donderdag <span>@volunteer.Availabilities[3]</span></li>
                                    <li>Vrijdag <span>@volunteer.Availabilities[4]</span></li>
                                    <li>Zaterdag <span>@volunteer.Availabilities[5]</span></li>
                                    <li>Zondag <span>@volunteer.Availabilities[6]</span></li>
                                </ul>
                            </div>

                            <hr class="gray-separator" style="margin: 1rem 0" />

                            <p style="text-align: left">Reviews</p>
                            <div style="max-height: 150px; overflow-y: auto;">
                                @if (volunteer.Reviews.Count > 0)
                                {
                                    foreach (var review in volunteer.Reviews)
                                    {
                                        <div style="background: #21b9ef; border-radius: 4px; border: 1px solid #ddd;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       padding: 0.5rem; margin: 0.5rem; color: #fff;">
                                            <div class="clearfix" style="font-weight: bold">
                                                <p style="float: left">@review.HelpSeekerName</p>
                                                <p style="float: right">@review.Rating</p>
                                            </div>
                                            <p>@review.Content</p>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <span>Deze gebruiker heeft nog geen reviews.</span>
                                }

                            </div>

                            <br/>
                            <p style="text-align: left">VOG</p>
                            @if (volunteer.Vog.FileContent != null)
                            {
                                if (ImportExportFileOracleContext.PDFDisplay(volunteer.Vog.FileContent, volunteer.Email))
                                {
                                    <b>@Html.ActionLink("Bekijk VOG", "GetPdf", "File", new { filePath = @"C:\ICT4Participation\VOGs\VOG " + volunteer.Email + ".pdf" }, null)</b>
                                }
                            }
                            else
                            {
                                <span>Deze vrijwilliger heeft nog geen VOG geüpload.</span>
                            }


                            <br />
                            <p style="text-align: left">Status</p>
                            @if (volunteer.VogAccepted == true)
                            {
                                <span>Deze vrijwilliger is geaccepteerd.</span>
                            }
                            else
                            {
                                <span>Deze vrijwilliger is nog niet geaccepteerd.</span>
                                <a href="@Url.Action("AcceptVolunteerVog", "Home", new { email = volunteer.Email, @class = "btn-action"})">
                                    Accepteer vrijwilliger
                                </a>
                            }

                            <hr class="blue-separator" style="margin: 1rem 0 0" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs">
            <div id="questions" class="box-admin">
                <h2 class="box-header admin-header-link">Hulpvragen</h2>

                <div class="admin-content-wrapper">

                    @foreach (var question in questions)
                    {
                        //// depending on question status, render context
                        //// inprogress -> show accepted volunteer
                        //// open       -> show help offered volunteers
                        if (question.Status.ToUpper() == "INPROGRESS")
                        {
                            <div class="question">
                                <h3 class="title">@question.Title</h3>
                                <div class="details">
                                    <p class="date">@question.PostDate.ToString("d MMMM yyyy")</p>
                                    <p class="state">Hulpvraag is in behandeling</p>
                                    <p class="action">Details</p>
                                </div>
                                <div class="more">
                                    <p>@question.Content</p>
                                    <p>
                                        Hulpzoekende: <a href="@Url.Action("ShowUser", "Home", new {email = question.HelpSeekerEmail, questionId = -1})">
                                            <span>Bekijk profiel</span>
                                        </a>
                                    </p>
                                    <p>Locatie: <span>@question.Location</span></p>
                                    <p>Vervoer: <span>@question.Transport</span></p>

                                    <a href="@Url.Action("ShowUser", "Home",
                                         new {email = question.AcceptedVolunteer.Email, questionId = -1})">
                                        <img class="user-img" src="@($"data:image/png;base64,{Convert.ToBase64String(question.AcceptedVolunteer.ProfileImage.FileContent)}")">
                                    </a>

                                    <div class="edit-img-wrapper">
                                        <img class="edit-img" src="@Url.Content("~/Content/images/edit-icon-dark-gray.svg")">
                                    </div>
                                    <div class="edit-img-wrapper">
                                        <a href='@Url.Action("DeleteQuestion", "Home", new {id = question.Id})'>
                                            <img class="delete-img" src="@Url.Content("~/Content/images/delete-icon.svg")">
                                        </a>
                                    </div>

                                    @using (Html.BeginForm("EditQuestion", "Home",
                                        new { id = question.Id }, FormMethod.Post,
                                        new { @autocomplete = "off", @class = "edit-form" }))
                                    {
                                        <hr class="gray-separator">
                                        <input type="text" class="edit-title" value="@question.Title" name="title">

                                        <input type="text" class="edit-location" placeholder="Address"
                                               value="@question.Location" name="location">
                                        <hr class="gray-separator">

                                        <label>Vervoer</label>
                                        <select class="edit-transport" name="transportOption">
                                            <option value="@TransportOptions.Undefined">n.v.t.</option>
                                            <option value="@TransportOptions.Walk">Te voet</option>
                                            <option value="@TransportOptions.Bike">Fiets</option>
                                            <option value="@TransportOptions.PublicTransport">Openbaar vervoer</option>
                                            <option value="@TransportOptions.Car">Auto</option>
                                            <option value="@TransportOptions.Taxi">Taxi</option>
                                            <option value="@TransportOptions.Special">Speciaal vervoer</option>
                                        </select>
                                        <hr class="gray-separator">

                                        <textarea class="edit-content" name="content">@question.Content</textarea>
                                        <input type="submit" value="Wijzig">
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="question">
                                <h3 class="title">@question.Title</h3>
                                <div class="details">
                                    <p class="date">@question.PostDate.ToString("d MMMM yyyy")</p>
                                    <p class="state">Hulpvraag is open</p>
                                    <p class="action">Details</p>
                                </div>
                                <div class="more">
                                    <p>@question.Content</p>
                                    <p>
                                        Hulpzoekende: <a href="@Url.Action("ShowUser", "Home", new {email = question.HelpSeekerEmail, questionId = -1})">
                                            <span>Bekijk profiel</span>
                                        </a>
                                    </p>
                                    <p>Locatie: <span>@question.Location</span></p>
                                    <p>Vervoer: <span>@question.Transport</span></p>

                                    @foreach (var volunteer in question.HelpOfferedVolunteers)
                                    {
                                        //// show all help offered volunteer
                                        <a href="@Url.Action("ShowUser", "Home",
                                             new {email = volunteer.Email, questionId = question.Id})">
                                            <img class="user-img" src="@($"data:image/png;base64,{Convert.ToBase64String(volunteer.ProfileImage.FileContent)}")">
                                        </a>
                                    }

                                    <div class="edit-img-wrapper">
                                        <img class="edit-img" src="@Url.Content("~/Content/images/edit-icon-dark-gray.svg")">
                                    </div>
                                    <div class="edit-img-wrapper">
                                        <a href='@Url.Action("DeleteQuestion", "Home", new {id = question.Id})'>
                                            <img class="delete-img" src="@Url.Content("~/Content/images/delete-icon.svg")">
                                        </a>
                                    </div>

                                    @using (Html.BeginForm("EditQuestion", "Home",
                                        new { id = question.Id }, FormMethod.Post,
                                        new { @autocomplete = "off", @class = "edit-form" }))
                                    {
                                        <hr class="gray-separator">
                                        <input type="text" class="edit-title" value="@question.Title" name="title">

                                        <input type="text" class="edit-location" placeholder="Address"
                                               value="@question.Location" name="location">
                                        <hr class="gray-separator">

                                        <label>Vervoer</label>
                                        <select class="edit-transport" name="transportOption">
                                            <option value="@TransportOptions.Undefined">n.v.t.</option>
                                            <option value="@TransportOptions.Walk">Te voet</option>
                                            <option value="@TransportOptions.Bike">Fiets</option>
                                            <option value="@TransportOptions.PublicTransport">Openbaar vervoer</option>
                                            <option value="@TransportOptions.Car">Auto</option>
                                            <option value="@TransportOptions.Taxi">Taxi</option>
                                            <option value="@TransportOptions.Special">Speciaal vervoer</option>
                                        </select>
                                        <hr class="gray-separator">

                                        <textarea class="edit-content" name="content">@question.Content</textarea>
                                        <input type="submit" value="Wijzig">
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
