﻿@using Asp.Models
@using Asp.Models.Users
@{
    ViewBag.Title = "Home";
    var user = Model;
    var questions = Global.AllQuestions;
}

@{ Html.RenderPartial("~/Views/Navigation/_TopNavBar.cshtml"); }

<div class="container-fluid wrap">
<div class="row">
<div class="col-md-4 col-xs-12">
    <div class="row">
        <div class="col-xs">
            <div class="box profile">
                <div>
                    <img id="profile-img" class="user-img" src="@($"data:image/png;base64,{Convert.ToBase64String(Global.AuthorizedUser.ProfileImage.FileContent)}")">
                </div>
                @using (Html.BeginForm("UploadProfileImage", "File", FormMethod.Post,
                    new {@id = "form-profile-img", @class = "display-none", @enctype = "multipart/form-data"}))
                {
                    <input type="file" id="input-profile-img" name="file"/>
                }

                <h2 class="name">@user.Name</h2>
                <p class="biography">@user.Bio</p>
                <div class="edit-img-wrapper">
                    <img class="edit-img" src="@Url.Content("~/Content/images/edit-icon-dark-gray.svg")">
                </div>

                @using (Html.BeginForm("EditProfileInfo", "Home", FormMethod.Post,
                    new {@autocomplete = "off", @class = "edit-form"}))
                {
                    <hr class="gray-separator">
                    <input type="text" class="edit-name" placeholder="Typ hier uw naam" maxlenght="20" name="name"/>

                    <textarea placeholder="Typ hier uw biografie" maxlength="400" name="bio"></textarea>
                    <input type="submit" value="Wijzig">
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs">
            <div class="box about">
                <h2 class="box-header">Over mij</h2>
                <ul>
                    <li>Woont in <span>@(string.IsNullOrEmpty(user.Location) ? "-" : @user.Location)</span></li>
                    <li>Geboortedatum <span>@(user.DateOfBirth?.ToString("d MMMM yyyy") ?? "-")</span></li>
                    <li>Kan met openbaar vervoer <span>@((user as HelpSeeker)?.CanUsePublicTransport == true ? "ja" : "nee")</span></li>
                </ul>

                <div class="edit-img-wrapper">
                    <img class="edit-img" src="@Url.Content("~/Content/images/edit-icon-dark-gray.svg")">
                </div>

                @using (Html.BeginForm("EditProfileAbout", "Home", FormMethod.Post,
                    new {@autocomplete = "off", @class = "edit-form"}))
                {
                    <hr class="gray-separator">
                    <ul>
                        <li>Woont in<input type="text" placeholder="Typ hier uw woonplaats" name="city"></li>
                        <li>Geboortedatum<input type="text" class="datepicker"
                                                value="@(user.DateOfBirth?.ToString("d MMMM yyyy"))"
                                                placeholder="@DateTime.Now.AddYears(-40).ToString("d MMMM yyyy")"
                                                name="dateOfbirth" style="border: none; padding: 0"/>
                        </li>
                        <li>Kan met openbaar vervoer
                            <select name="publicTransport">
                                <option value="true">ja</option>
                                <option value="false">nee</option>
                            </select>
                        </li>
                    </ul>
                    <input type="submit" value="Wijzig">
                }
            </div>
        </div>
    </div>
</div>

<div class="col-md-8 col-xs-12">
    <div id="questions" class="box">
        <h2 class="box-header">Vragen</h2>
        @{
            //// helpseeker -> show all questions, questions open and inprogress
            foreach (var question in questions)
            {
                //// depending on question status, render context
                //// inprogress -> show accepted volunteer
                ////               (to do optional: delete accepted volunteer for question)
                //// open       -> show help offered volunteers
                if (question.Status.ToUpper() == "INPROGRESS")
                {
                    <div class="question">
                        <h3 class="title">@question.Title</h3>
                        <div class="details">
                            <p class="date">@question.PostDate.ToString("d MMMM yyyy")</p>
                            <p class="state">In behandeling</p>
                            <p><b class="action">Details</b>
                            </p>
                        </div>
                        <div class="more">
                            <p>@question.Content</p>
                            <p>Locatie: <span>@question.Location</span></p>
                            <p>Vervoer: <span>@question.Transport</span></p>

                            <a href="@Url.Action("ShowUser", "Home",
                                         new {email = question.AcceptedVolunteer.Email, questionId = -1})">
                                <img class="user-img" src="@($"data:image/png;base64,{Convert.ToBase64String(question.AcceptedVolunteer.ProfileImage.FileContent)}")">
                            </a>

                            <div class="edit-img-wrapper">
                                <img class="edit-img" src="@Url.Content("~/Content/images/edit-icon-dark-gray.svg")">
                            </div>

                            <div class="edit-img-wrapper">
                                <a href="@Url.Action("ShowReview", "Home", 
                                        new { questionId = question.Id, volunteerEmail = question.AcceptedVolunteer.Email }, null)">
                                    <img class="delete-img" src="@Url.Content("~/Content/images/delete-icon.svg")">
                                </a>
                            </div>

                            @using (Html.BeginForm("EditQuestion", "Home",
                                new {id = question.Id}, FormMethod.Post,
                                new {@autocomplete = "off", @class = "edit-form"}))
                            {
                                <hr class="gray-separator">
                                <input type="text" class="edit-title" value="@question.Title" name="title">

                                <input type="text" class="edit-location" placeholder="Address"
                                       value="@question.Location" name="location">
                                <hr class="gray-separator">

                                <label>Vervoer</label>
                                <select class="edit-transport" name="transportOption">
                                    <option value="@TransportOptions.Undefined">n.v.t.</option>
                                    <option value="@TransportOptions.Walk">Te voet</option>
                                    <option value="@TransportOptions.Bike">Fiets</option>
                                    <option value="@TransportOptions.PublicTransport">Openbaar vervoer</option>
                                    <option value="@TransportOptions.Car">Auto</option>
                                    <option value="@TransportOptions.Taxi">Taxi</option>
                                    <option value="@TransportOptions.Special">Speciaal vervoer</option>
                                </select>

                                <hr class="gray-separator">

                                <textarea class="edit-content" name="content">@question.Content</textarea>
                                <input type="submit" value="Wijzig">
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="question">
                        <h3 class="title">@question.Title</h3>
                        <div class="details">
                            <p class="date">@question.PostDate.ToString("d MMMM yyyy")</p>
                            <p class="state">Open</p>
                            <p><b class="action">Details</b>
                            </p>
                        </div>
                        <div class="more">
                            <p>@question.Content</p>
                            <p>Locatie: <span>@question.Location</span></p>
                            <p>Vervoer: <span>@question.Transport</span></p>

                            @foreach (var volunteer in question.HelpOfferedVolunteers)
                            {
                                //// show all help offered volunteer
                                <a href="@Url.Action("ShowUser", "Home",
                                             new {email = volunteer.Email, questionId = question.Id})">
                                    <img class="user-img" src="@($"data:image/png;base64,{Convert.ToBase64String(volunteer.ProfileImage.FileContent)}")">
                                </a>
                            }

                            <div class="edit-img-wrapper">
                                <img class="edit-img" src="@Url.Content("~/Content/images/edit-icon-dark-gray.svg")">
                            </div>
                            <div class="edit-img-wrapper">
                                <a href='@Url.Action("DeleteQuestion", "Home", new {id = question.Id, status = "OPEN", volunteerEmail = string.Empty})'>
                                    <img class="delete-img" src="@Url.Content("~/Content/images/delete-icon.svg")">
                                </a>
                            </div>

                            @using (Html.BeginForm("EditQuestion", "Home",
                                new {id = question.Id}, FormMethod.Post,
                                new {@autocomplete = "off", @class = "edit-form"}))
                            {
                                <hr class="gray-separator">
                                <input type="text" class="edit-title" value="@question.Title" name="title">

                                <input type="text" class="edit-location" placeholder="Address"
                                       value="@question.Location" name="location">
                                <hr class="gray-separator">

                                <label>Vervoer</label>
                                <select class="edit-transport" name="transportOption">
                                    <option value="@TransportOptions.Undefined">n.v.t.</option>
                                    <option value="@TransportOptions.Walk">Te voet</option>
                                    <option value="@TransportOptions.Bike">Fiets</option>
                                    <option value="@TransportOptions.PublicTransport">Openbaar vervoer</option>
                                    <option value="@TransportOptions.Car">Auto</option>
                                    <option value="@TransportOptions.Taxi">Taxi</option>
                                    <option value="@TransportOptions.Special">Speciaal vervoer</option>
                                </select>
                                <hr class="gray-separator">

                                <textarea class="edit-content" name="content">@question.Content</textarea>
                                <input type="submit" value="Wijzig">
                            }
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>
</div>
</div>

@{ Html.RenderPartial("~/Views/Remodal/_Chat.cshtml"); }
@{ Html.RenderPartial("~/Views/Remodal/_Review.cshtml"); }
@{ Html.RenderPartial("~/Views/Remodal/_NewQuestion.cshtml"); }