﻿@using Asp.Models
@using Asp.Models.Users
@{
    ViewBag.Title = "Home";
    var user = Model;
    var questions = Global.AllQuestions;
}

@{ Html.RenderPartial("~/Views/Navigation/_TopNavBar.cshtml"); }

<div class="container-fluid wrap">
<div class="row">
<div class="col-md-4 col-xs-12">
    <div class="row">
        <div class="col-xs">
            <div class="box profile">
                <div>
                    <img id="profile-img" class="user-img" src="@($"data:image/png;base64,{Convert.ToBase64String(Global.AuthorizedUser.ProfileImage.FileContent)}")">
                </div>
                @using (Html.BeginForm("UploadProfileImage", "File", FormMethod.Post,
                    new {@id = "form-profile-img", @class = "display-none", @enctype = "multipart/form-data"}))
                {
                    <input type="file" id="input-profile-img" name="file"/>
                }

                <h2 class="name">@user.Name</h2>
                <p class="biography">@user.Bio</p>
                <div class="edit-img-wrapper">
                    <img class="edit-img" src="@Url.Content("~/Content/images/edit-icon-dark-gray.svg")">
                </div>

                @using (Html.BeginForm("EditProfileInfo", "Home", FormMethod.Post,
                    new {@autocomplete = "off", @class = "edit-form"}))
                {
                    <hr class="gray-separator">
                    <input type="text" class="edit-name" placeholder="Typ hier uw naam" maxlenght="20" name="name"/>

                    <textarea placeholder="Typ hier uw biografie" maxlength="400" name="bio"></textarea>
                    <input type="submit" value="Wijzig">
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs">
            <div class="box about">
                <h2 class="box-header">Over mij</h2>
                <ul>
                    <li>Woont in <span>@(string.IsNullOrEmpty(user.Location) ? "-" : @user.Location)</span></li>
                    <li>Geboortedatum <span>@(user.DateOfBirth?.ToString("d MMMM yyyy") ?? "-")</span></li>
                    <li>Heeft autorijbewijs <span>@((user as Volunteer)?.HasDrivingLicense == true ? "ja" : "nee")</span></li>
                    <li>Heeft auto <span>@((user as Volunteer)?.HasCar == true ? "ja" : "nee" )</span></li>
                </ul>
                <div class="edit-img-wrapper">
                    <img class="edit-img" src="@Url.Content("~/Content/images/edit-icon-dark-gray.svg")">
                </div>
                @using (Html.BeginForm("EditProfileAbout", "Home", FormMethod.Post,
                    new {@autocomplete = "off", @class = "edit-form"}))
                {
                    <hr class="gray-separator">
                    <ul>
                        <li>Woont in<input type="text" placeholder="Typ hier uw woonplaats" name="city"></li>
                        <li>Geboortedatum<input type="text" class="datepicker"
                                                value="@(user.DateOfBirth?.ToString("d MMMM yyyy"))"
                                                placeholder="@DateTime.Now.AddYears(-40).ToString("d MMMM yyyy")"
                                                name="dateOfbirth" style="border: none; padding: 0">
                        </li>
                        <li>
                            Heeft autorijbewijs
                            <select name="hasDrivingLicense">
                                <option value="true">ja</option>
                                <option value="false">nee</option>
                            </select>
                        </li>
                        <li>
                            Heeft auto
                            <select name="hasCar">
                                <option value="true">ja</option>
                                <option value="false">nee</option>
                            </select>
                        </li>
                    </ul>
                    <input type="submit" value="Wijzig">
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs">
            <div id="planning" class="box">
                <h2 class="box-header">Planning</h2>
                <ul>
                    <li>Maandag <span>@(((Volunteer) user).Availabilities[0])</span></li>
                    <li>Dinsdag <span>@(((Volunteer) user).Availabilities[1])</span></li>
                    <li>Woensdag <span>@(((Volunteer) user).Availabilities[2])</span></li>
                    <li>Donderdag <span>@(((Volunteer) user).Availabilities[3])</span></li>
                    <li>Vrijdag <span>@(((Volunteer) user).Availabilities[4])</span></li>
                    <li>Zaterdag <span>@(((Volunteer) user).Availabilities[5])</span></li>
                    <li>Zondag <span>@(((Volunteer) user).Availabilities[6])</span></li>
                </ul>
                <div class="edit-img-wrapper">
                    <img class="edit-img" src="@Url.Content("~/Content/images/edit-icon-dark-gray.svg")">
                </div>

                @using (Html.BeginForm("EditPlanning", "Home", FormMethod.Post,
                    new {@autocomplete = "off", @class = "edit-form"}))
                {
                    <hr class="gray-separator">
                    <ul>
                        <li>
                            Maandag
                            <select name="monday">
                                <option selected="selected">@(((Volunteer) user).Availabilities[0])</option>
                                <option value="Hele dag">Hele dag beschikbaar</option>
                                <option value="'s Ochtends">'s Ochtends beschikbaar</option>
                                <option value="'s Middags">'s Middags beschikbaar</option>
                                <option value="'s Avonds">'s Avonds beschikbaar</option>
                                <option value="-">-</option>
                            </select>
                        </li>
                        <li>
                            Dinsdag
                            <select name="tuesday">
                                <option selected="selected">@(((Volunteer) user).Availabilities[1])</option>
                                <option value="Hele dag">Hele dag beschikbaar</option>
                                <option value="'s Ochtends">'s Ochtends beschikbaar</option>
                                <option value="'s Middags">'s Middags beschikbaar</option>
                                <option value="'s Avonds">'s Avonds beschikbaar</option>
                                <option value="-">-</option>
                            </select>
                        </li>
                        <li>
                            Woensdag
                            <select name="wednesday">
                                <option selected="selected">@(((Volunteer) user).Availabilities[2])</option>
                                <option value="Hele dag">Hele dag beschikbaar</option>
                                <option value="'s Ochtends">'s Ochtends beschikbaar</option>
                                <option value="'s Middags">'s Middags beschikbaar</option>
                                <option value="'s Avonds">'s Avonds beschikbaar</option>
                                <option value="-">-</option>
                            </select>
                        </li>
                        <li>
                            Donderdag
                            <select name="thursday">
                                <option selected="selected">@(((Volunteer) user).Availabilities[3])</option>
                                <option value="Hele dag">Hele dag beschikbaar</option>
                                <option value="'s Ochtends">'s Ochtends beschikbaar</option>
                                <option value="'s Middags">'s Middags beschikbaar</option>
                                <option value="'s Avonds">'s Avonds beschikbaar</option>
                                <option value="-">-</option>
                            </select>
                        </li>
                        <li>
                            Vrijdag
                            <select name="friday">
                                <option selected="selected">@(((Volunteer) user).Availabilities[4])</option>
                                <option value="Hele dag">Hele dag beschikbaar</option>
                                <option value="'s Ochtends">'s Ochtends beschikbaar</option>
                                <option value="'s Middags">'s Middags beschikbaar</option>
                                <option value="'s Avonds">'s Avonds beschikbaar</option>
                                <option value="-">-</option>
                            </select>
                        </li>
                        <li>
                            Zaterdag
                            <select name="saturday">
                                <option selected="selected">@(((Volunteer) user).Availabilities[5])</option>
                                <option value="Hele dag">Hele dag beschikbaar</option>
                                <option value="'s Ochtends">'s Ochtends beschikbaar</option>
                                <option value="'s Middags">'s Middags beschikbaar</option>
                                <option value="'s Avonds">'s Avonds beschikbaar</option>
                                <option value="-">-</option>
                            </select>
                        </li>
                        <li>
                            Zondag
                            <select name="sunday">
                                <option selected="selected">@(((Volunteer) user).Availabilities[6])</option>
                                <option value="Hele dag">Hele dag beschikbaar</option>
                                <option value="'s Ochtends">'s Ochtends beschikbaar</option>
                                <option value="'s Middags">'s Middags beschikbaar</option>
                                <option value="'s Avonds">'s Avonds beschikbaar</option>
                                <option value="-">-</option>
                            </select>
                        </li>
                    </ul>
                    <input type="submit" value="Wijzig">
                }
            </div>
        </div>
    </div>
</div> 

<div class="col-md-8 col-xs-12">
    <div id="questions" class="box">
        <h2 class="box-header">Vragen</h2>
        @using (Html.BeginForm("UploadVog", "File", FormMethod.Post,
                        new { @id = "form-profile-img", @enctype = "multipart/form-data" }))
        {
            <input type="file" id="input-profile-img" name="file"/>
            <input type="submit" name="submit" class="btn-action">
        }

        @{
            //// show each question where volunteer is accepted for
            foreach (var question in questions.Where(q => q.Status.ToUpper() == "INPROGRESS"))
            {
                if (question.AcceptedVolunteer.Email == Global.AuthorizedUser.Email)
                {
                    <div class="question">
                        <h3 class="title">@question.Title</h3>
                        <div class="details">
                            <p class="date">@question.PostDate.ToString("d MMMM yyyy")</p>
                            <p class="state">U bent geaccepteerd</p>
                            <p><b class="action">Details</b>
                            </p>
                        </div>
                        <div class="more">
                            <p>@question.Content</p>
                            <p>Hulpzoekende: <a href="@Url.Action("ShowUser", "Home", new {email = question.HelpSeekerEmail, questionId = -1})">
                                    <span>Bekijk profiel</span>
                                </a>
                            </p>
                            <p>Locatie: <span>@question.Location</span></p>
                            <p>Vervoer: <span>@question.Transport</span></p>
                        </div>
                    </div>
                }
            }
            //// show all open questions
            foreach (var question in questions.Where(q => q.Status.ToUpper() == "OPEN"))
            {
                <div class="question">
                    <h3 class="title">@question.Title</h3>
                    <div class="details">
                        <p class="date">@question.PostDate.ToString("d MMMM yyyy")</p>
                        <p class="state">Open</p>
                        <p><b class="action">Details</b>
                        </p>
                    </div>
                    <div class="more">
                        <p>@question.Content</p>
                        <p>
                            Hulpzoekende: <a href="@Url.Action("ShowUser", "Home", new {email = question.HelpSeekerEmail, questionId = -1})">
                                <span>Bekijk profiel</span></a>
                        </p>
                        <p>Locatie: <span>@question.Location</span></p>
                        <p>Vervoer: <span>@question.Transport</span></p>

                        @foreach (var volunteer in question.HelpOfferedVolunteers)
                        {
                            //// show all volunteers who had offerd help on question
                            <a href="@Url.Action("ShowUser", "Home", new {email = volunteer.Email, questionId = -1})">
                                <img class="user-img" src="@($"data:image/png;base64,{Convert.ToBase64String(volunteer.ProfileImage.FileContent)}")">
                            </a>
                        }
                        @{
                            //// check if volunteer has or hasn't offered help
                            var alreadyOfferedHelp = question.HelpOfferedVolunteers
                                .FindIndex(v => v.Email == Global.AuthorizedUser.Email);

                            //// if hasn't -> show oppertunity to offer help
                            if (alreadyOfferedHelp == -1)
                            {
                                @Html.ActionLink("> Ik wil helpen", "OfferHelp", "Home",
                                    new {id = question.Id},
                                    new {@class = "offer-help"})
                            }
                            //// if has -> show oppertunity to remove offered help
                            else
                            {
                                @Html.ActionLink("> Ik wil niet meer helpen", "DeleteOfferedHelp", "Home",
                                    new {id = question.Id},
                                    new {@class = "offer-help already-offered"})
                            }
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>
</div>
</div>
@{ Html.RenderPartial("~/Views/Remodal/_Chat.cshtml"); }
