﻿@using Asp.Models.Users
@model User
@{
    ViewBag.Title = "Inloggen";
}

<div id="content" class="logon-bg">
    <div class="default-form-wrapper">
        <div id="header">
            <h2>Login</h2>
        </div>

        @using (Html.BeginForm("SignIn", "Start", FormMethod.Post, new { @autocomplete = "off"}))
        {
            <label>Email of gebruikersnaam</label>
            @Html.TextBoxFor(model => model.Email,
                new { @id = "email", @class = "animated", @placeholder = "janedoe@mail.com" })
            <hr class="blue-separator">

            <label>Wachtwoord</label>
            @Html.TextBoxFor(model => model.Password,
                new { @id = "password", @class = "animated", @placeholder = "********", @type = "password" })            
            <hr class="gray-separator">

            @Html.CheckBoxFor(model => model.Remember, new { @class = "custom-checkbox" })
            <label>Onthoud mij</label>

            <input id="btn-sign-in" class="btn-action animated" type="submit" value="Login">
        }

        <div id="footer">
            <a href="@Url.Action("SignUp")">Aanmelden</a>
        </div>
    </div>
</div>
