﻿@using Asp.Models.Users
@model User
@{
    ViewBag.Title = "Inloggen";
}

<div id="content" class="logon-bg">
    <div class="default-form-wrapper animated">
        <div id="header">
            <h2>Aanmelden</h2>
        </div>

        @using (Html.BeginForm("SignUp", "Start", FormMethod.Post, new { @autocomplete = "off"}))
        {
            <label>Email of gebruikersnaam</label>
            @Html.TextBoxFor(model => model.Email,
                new { @id= "email", @class= "animated", @placeholder= "janedoe@mail.com" } )
            <hr class="blue-separator">

            <label>Wachtwoord</label>
            @Html.TextBoxFor(model => model.Password,
                new { @id = "password", @class = "animated", @placeholder = "********" })
            <hr class="gray-separator">

            @Html.RadioButtonFor(model => model.UserType, UserType.Helpseeker, 
                new { @id = "radio-helpseeker",  @class = "custom-radio" })
            <label id="label-helpseeker" class="animated">Ik heb hulp nodig</label>

            @Html.RadioButtonFor(model => model.UserType, UserType.Volunteer, 
                new { @id = "radio-volunteer", @class = "custom-radio" })
            <label id="label-volunteer" class="animated">Ik wil helpen</label>

            <input id="btn-sign-up" class="btn-action animated" type="submit" value="Aanmelden">
        }

        <div id="footer">
            <a href="@Url.Action("SignIn")">Terug</a>
        </div>
    </div>
</div>