﻿@using Asp.Models
@{
    var chats = Global.AllChats;
}

<div class="remodal chat-remodal" data-remodal-id="chat" id="chat-modal"
     data-remodal-options="hashTracking: false, closeOnOutsideClick: false">
    <div class="header">
        <button data-remodal-action="close" class="remodal-close"></button>
    </div>

    <div class="row chat-wrapper">
        <div class="col-xs-4 people-list-wrapper">
            <ul class="people-list">
                @{
                    if (chats.Count > 0)
                    {
                        foreach (var c in chats)
                        {
                            if (c == chats.First())
                            {
                                <li class="active">
                                    <a href="@Url.Action("ChatToShow", "Home", new { chatId = c.Id})">@c.Title</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@Url.Action("ChatToShow", "Home", new { chatId = c.Id})">@c.Title</a>
                                </li>
                            }
                        }
                    }
                    else
                    {
                        <li>
                            Er zijn nog geen chatgesprekken.
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col-xs-8 chat">
            <div class="chat-history">
                @if (Global.MessagesFirstChat != null)
                {
                    <ul>
                        @foreach (var message in Global.MessagesFirstChat)
                        {
                            if (message.Name == Global.AuthorizedUser.Name)
                            {
                                <li class="message send clearfix">@message.Content</li>
                            }
                            else
                            {
                                <li class="message received clearfix">@message.Content</li>
                            }
                        }
                    </ul>
                }

                @if (chats.Count > 0)
                {
                    using (Html.BeginForm("PostMessage", "Home", FormMethod.Post,
                        new { @id = "new-message-form", @class = "new-message-form" }))
                    {
                        <textarea id="message-content" class="animated"
                                  placeholder="Type een bericht" name="content"></textarea>
                            <input type="hidden" name="chatId" value="@Global.AllChats.First().Id" />
                    }
                    <div id="footer" style="left: 0">
                        <a id="post-message-link" href="#">Vestuur</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>