﻿@using Asp.Models

<div class="remodal" data-remodal-id="question-modal"
     data-remodal-options="hashTracking: false, closeOnOutsideClick: false">

    <div class="default-form-wrapper" style="height: 500px">
        <div id="header">
            <h2>Nieuwe hulpvraag</h2>
            <button data-remodal-action="close" class="remodal-close"></button>
        </div>

        @using (Html.BeginForm("PostQuestion", "Home", FormMethod.Post,
                    new { @autocomplete = "off", id = "ask-question-form" }))
        {
            <input id="question-title" class="animated" type="text" placeholder="Typ hier de titel" name="title">
            <hr class="blue-separator">

            <input id="question-location" class="animated" type="text" placeholder="Address" name="location"
                   value="@(Global.AuthorizedUser.Location ?? "")">
            <hr class="gray-separator">

            <textarea id="question-content" class="animated" placeholder="Typ hier de beschrijving"
                      style="max-height: 125px" name="content"></textarea>

            <hr class="gray-separator">

            <label>Vervoer</label>
            <select name="transport">
                <option value="@TransportOptions.Undefined">n.v.t.</option>
                <option value="@TransportOptions.Walk">Te voet</option>
                <option value="@TransportOptions.Bike">Fiets</option>
                <option value="@TransportOptions.PublicTransport">Openbaar vervoer</option>
                <option value="@TransportOptions.Car">Auto</option>
                <option value="@TransportOptions.Taxi">Taxi</option>
                <option value="@TransportOptions.Special">Speciaal vervoer</option>
            </select>
        }
        <div id="footer">
            <a href="#" id="ask-question-link">Vraag</a>
        </div>
    </div>
</div>

