﻿@using Asp.Models.Users
@{
    var helpseeker = TempData["UserToShow"] as HelpSeeker;
}
<div class="remodal row-column" id="helpseeker-modal"
     data-remodal-options="hashTracking: false, closeOnOutsideClick: false">
    <div class="header">
        <h2 id="helpseeker-name">@helpseeker.Name</h2>
        <button data-remodal-action="close" class="remodal-close"></button>
    </div>
    <div class="content user">
        <ul class="user-info">
            <img class="user-img" src="@($"data:image/png;base64,{Convert.ToBase64String(helpseeker.ProfileImage.FileContent)}")">
            <p class="biography" style="margin-bottom: 1rem">@helpseeker.Bio</p>
            <li>Woont in <span>@helpseeker.Location</span></li>
            <li>Geboortedatum <span>@(helpseeker.DateOfBirth?.ToString("d MMMM yyyy") ?? "-")</span></li>
            <li>Kan met openbaar vervoer <span>@(helpseeker.CanUsePublicTransport == true ? "ja" : "-")</span></li>
        </ul>
    </div>
    <div class="footer">
        
    </div>
</div>