﻿@using Asp.Models
@using Asp.Models.Users
@{
    var volunteer = (Volunteer) TempData["UserToShow"];
}

<div class="remodal row-column" id="volunteer-modal"
     data-remodal-options="hashTracking: false, closeOnOutsideClick: false">
    <div class="header">
        <h2 id="volunteer-name">@volunteer.Name</h2>
        <button data-remodal-action="close" class="remodal-close"></button>
    </div>

    <div class="content user">
        <ul class="user-info">
            <img class="user-img" src="@($"data:image/png;base64,{Convert.ToBase64String(volunteer.ProfileImage.FileContent)}")">
            <p class="biography" style="margin-bottom: 1rem">@volunteer.Bio</p>
            <li>Woont in <span>@volunteer.Location</span></li>
            <li>Geboortedatum <span>@(volunteer.DateOfBirth?.ToString("d MMMM yyyy") ?? "-")</span></li>
            <li>Auto <span>@(volunteer.HasCar == true ? "ja" : "-"  )</span></li>
            <li>Rijbewijs <span>@(volunteer.HasDrivingLicense == true ? "ja" : "-")</span></li>

            <li>
                <hr class="gray-separator">
            </li>

            <li>Maandag <span>@volunteer.Availabilities[0]</span></li>
            <li>Dinsdag <span>@volunteer.Availabilities[1]</span></li>
            <li>Woensdag <span>@volunteer.Availabilities[2]</span></li>
            <li>Donderdag <span>@volunteer.Availabilities[3]</span></li>
            <li>Vrijdag <span>@volunteer.Availabilities[4]</span></li>
            <li>Zaterdag <span>@volunteer.Availabilities[5]</span></li>
            <li>Zondag <span>@volunteer.Availabilities[6]</span></li>

            <li>
                <hr class="gray-separator"/>
            </li>

            <p>Reviews</p>
            <div class="review-wrapper" style="max-height: 150px; overflow-y: auto;">
                @foreach (var review in volunteer.Reviews)
                {
                    <div class="review">
                        <div class="details clearfix" style="font-weight: bold">
                            <p class="helpseeker-name" style="float: left">@review.HelpSeekerName</p>
                            <p class="review-rating" style="float: right">@review.Rating</p>
                        </div>
                        <p>@review.Content</p>
                    </div>
                }
            </div>
        </ul>
    </div>
    <div class="footer">
        @if (Convert.ToInt32(TempData["QuestionId"]) != -1 && Global.AuthorizedUser.UserType != UserType.Admin)
        {
            <div class="footer">
                @Html.ActionLink("Accepteer", "AcceptVolunteer", "Home",
                new { questionId = TempData["QuestionId"], email = volunteer.Email, volName = volunteer.Name }, null)
            </div>
        }
    </div>
</div>
