﻿<div class="remodal" id="validation-modal">
    <div class="header">
        <h2 id="validation-modal-title"></h2>
        <button data-remodal-action="close" class="remodal-close"></button>
    </div>
    <div>
        <p id="validation-modal-description"></p>
    </div>
    <br>
</div>
