$color-black: #000;
$color-white: #fff;
$color-grey: #333;
$color-light-grey: #ddd;

$color-blue: #21b9ef;
$color-light-blue: #eff9fc;
$color-font-gray: #828282;
$color-almost-white: rgba(0 ,0, 0, .3);

