@mixin center($pos: middle) {
  position: absolute;

  @if ($pos==middle) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($pos==horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($pos==vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}