﻿@using Asp.Models.Users
<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>@ViewBag.Title - Participation</title>

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic' rel='stylesheet' type='text/html'>
        <link href="@Url.Content("~/content/styles/main.css")" rel="stylesheet"/>
    </head>
    <body>
        
        @RenderBody()

        @{ Html.RenderPartial("~/Views/Remodal/_Validation.cshtml"); }

        <!-- Scripts -->
        <script src="@Url.Content("~/content/bower_components/jquery/dist/jquery.js")"></script>
        <script src="@Url.Content("~/content/bower_components/jquery-ui/jquery-ui.js")"></script>
        <script src="@Url.Content("~/content/bower_components/remodal/dist/remodal.js")"></script>
        <script src="@Url.Content("~/content/bower_components/moment/moment.js")"></script>
        <script src="@Url.Content("~/content/bower_components/pikaday/pikaday.js")"></script>
        <script src="@Url.Content("~/content/bower_components/pikaday/plugins/pikaday.jquery.js")"></script>

        <script src="@Url.Content("~/content/scripts/pikaday-config.js")"></script>
        <script src="@Url.Content("~/content/scripts/remodal-config.js")"></script>
        <script src="@Url.Content("~/content/scripts/show-oeps.js")"></script>
        <script src="@Url.Content("~/content/scripts/navigation.js")"></script>
        <script src="@Url.Content("~/content/scripts/profile.js")"></script>
        <script src="@Url.Content("~/content/scripts/question.js")"></script>
        <script src="@Url.Content("~/content/scripts/edit.js")"></script>
        <script src="@Url.Content("~/content/scripts/validation.js")"></script>
        <script src="@Url.Content("~/content/scripts/file-input-submitting.js")"></script>
        <script src="@Url.Content("~/content/scripts/admin.js")"></script>

        @{
            //// render helpseeker/ volunteer partial view (remodal)
            //// depending on userType
            if ((TempData["UserToShow"] as Volunteer) != null)
            {
                Html.RenderPartial("~/Views/Remodal/_ShowVolunteer.cshtml");

                <script>
                    //// inline javascript: open volunteer remodal
                    $(document).ready(function () { $('#volunteer-modal').remodal().open(); })
                </script>
            }
            else if ((TempData["UserToShow"] as HelpSeeker) != null)
            {
                Html.RenderPartial("~/Views/Remodal/_ShowHelpseeker.cshtml");

                <script>
                    //// inline javascript: open helpseeker remodal
                    $(document).ready(function() { $('#helpseeker-modal').remodal().open(); })
                </script>
            }

            //// calling review remodal
            if (TempData["VolunteerEmail"] != null)
            {

                Html.RenderPartial("~/Views/Remodal/_Review.cshtml");

                <script>
                    //// inline javascript: open review remodal
                    $(document).ready(function () { $('#review-modal').remodal().open(); })
                </script>
            }

            //// calling chat remodal
            if (TempData["ShowChat"] != null)
            {

                Html.RenderPartial("~/Views/Remodal/_Chat.cshtml");

                <script>
                    //// inline javascript: open review remodal
                    $(document).ready(function () { $('#chat-modal').remodal().open(); })
                </script>
            }

            //// calling validation remodal with error message
            if (TempData["RemodalMessage"] != null)
            {
                <script>
                    $(document).ready(function () {
                        window.showOeps("@Html.Raw(TempData["RemodalMessage"].ToString())");
                    })
                </script>
            }
        }
    </body>
</html>
