﻿@using Asp.Models
@using Asp.Models.Users
<nav>
    <ul>
        <div id="menu-icon-wrapper">
            <img id="menu-icon" src="@Url.Content("~/Content/images/menu-icon.svg")">
        </div>
        @{
            if (Global.AuthorizedUser.UserType != UserType.Admin)
            {
                <li class="menu-item">
                    <a data-remodal-target="chat">Berichten</a>
                </li>

                //// Show new question only if user = helpseeker
                if (Global.AuthorizedUser.UserType == UserType.Helpseeker)
                {
                    <li class="menu-item">
                        <a data-remodal-target="question-modal">Nieuwe hulpvraag</a>
                    </li>
                }
            }
        }
        <li id="logout" class="menu-item">
            <a href="@Url.Action("SignOut", "Start")">Uitloggen</a>
        </li>
    </ul>
</nav>