.custom-checkbox {
  opacity: 0;

  float: left;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 6px 0 0 2px;
}

.custom-checkbox + label {
  clear: none;
  padding-left: $space-xl;
  background: url("../images/checkbox-icon.svg") left center no-repeat;
}

.custom-checkbox:checked + label {
  background-image: url("../images/checkbox-checked-icon.svg")
}

.custom-checkbox + .custom-checkbox-label {
  clear: none;
  padding-left: $space-xl;
  background: url("../images/checkbox-icon.svg") left center no-repeat;
}

.custom-checkbox:checked + input[type=hidden] + label {
  background-image: url("../images/checkbox-checked-icon.svg")
}

.custom-checkbox + input[type=hidden] + label {
  clear: none;
  padding-left: $space-xl;
  background: url("../images/checkbox-icon.svg") left center no-repeat;
}