.default-form-wrapper {
  height: 500px;
  background: $color-white;

  @include center(middle);

  form {
    @include center(middle);
    width: 70%;
    height: auto;

    input[type=email],
    input[type=password],
    input[type=text],
    textarea,
    select {
      font-size: 20px;
      width: 100% !important;
    }

    select {
        padding: $space-xxs;
    }


    > * {
      display: block;
    }

    .btn-action {
      position: relative;
      float: right;
    }
  }

  @include media(">46rem") {
    width: 500px;
  }

  @include media("<=46rem") {
    width: 450px;
  }

  @include media("<=42rem") {
    width: 400px;
  }

  @include media("<=32rem") {
    width: 350px;
  }

  @include media("<=28rem") {
    width: 300px;
  }

  @include media("<=26rem") {
    width: 250px;
  }
}

#header {
  position: relative;
  margin: 1rem;

  button {
    float: right;
  }
}

 #footer {
   width: 100%;
   height: 60px;
   position: absolute !important;
   background: $color-light-blue;
   bottom: 0;

  a {
    @include center(middle);
    font-size: 22px;
    color: $color-font-gray;
  }
}