.edit-form {
  display: none;
  margin-top: 3rem;
  width: 100%;
  position: relative;

  textarea {
    width: 100%;
    height: auto;
    font-size: 14px;
    margin: 0;
  }

  input[type=text],
  input[type=datetime] {
    float: right;
    text-align: right;
    font-size: 14px;
    margin: 0;
  }

  input[type=submit]{
    margin-top: 1rem;
    margin-bottom: 0;
    width: 100%;
    height: 50px;

    background: $color-light-blue;
    color: $color-font-gray;
  }

  select {
    float: right;
  }
}

.edit-name {
  font-size: 22px !important;
  text-align: left !important;
  width: 100% !important;
  margin: $space-s 0 !important;
}

.edit-title,
.edit-location,
.edit-transport,
.edit-content {
  font-size: 18px !important;
  text-align: left !important;
  width: 100% !important;
  margin: $space-s 0 !important;
}

