.user-img {
  background: $color-light-blue;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  //border: 2px solid #fff;
  cursor: pointer;
}

.edit-img-wrapper {
  margin-bottom: 1rem;
  margin-left: 1rem;


  .edit-img {
    width: 1rem;
    height: 1rem;
    float: right;
    cursor: pointer;
  }

  .delete-img {
    margin-top: $space-xs;
    width: 1rem;
    height: 1rem;
    float: right;
    cursor: pointer;
  }
}

