nav {

  ul {

    overflow: hidden;
    background-color: #333;

    @include media("<62rem") {
      display: flex;
      flex-flow: column nowrap;
    }
  }

  li {
    float: left;

    a {
      text-align: center;
      display: block;
      color: white;
      padding: 1rem;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        background: $color-blue;
      }
    }
  }
}

#logout {
  float: right;
}

#menu-icon-wrapper {
  margin: 0;
  width: 100%;

  img {
    float: right;
    margin: 1rem;
    cursor: pointer;

    @include media(">=62rem") {
      display: none;
    }
  }
}