.new-message-form {

    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;

    textarea{
        width: 100%;
        height: 125px;
        resize: none;
        overflow: hidden;
        font-size: 14px;
    }
}