.question {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;

  margin-top: 1rem;
  background: $color-blue;

  > * {
    color: $color-white;
    flex: auto;
  }

  .title {
    max-width: 70%;
  }

  .details {
    text-align: right;
    max-width: 30%;

    .action {
      cursor: pointer;
    }
  }

  .more {
    display: none;
    flex: 100%;
    margin-top: 1rem;
    background: $color-white;
    padding: 1rem;
    color: $color-grey;
    text-align: justify;

    .user-img {
      margin: 1rem 1rem 0 0;
    }

    .offer-help {
      float: right;
      color: $color-blue;
    }

    .already-offered {
      color: $color-almost-white;  
    }

    span {
      float: right;
      color: $color-blue;
    }
  }
}