.custom-radio {
  opacity: 0;

  float: left;
  cursor: pointer;
  width: 20px;
  margin: 6px 0 0 2px;
}

.custom-radio + label {
  clear: none;
  padding-left: $space-xl;
  background: url("../images/checkbox-icon.svg") left center no-repeat;
}

.custom-radio:checked + label {
  background-image: url("../images/checkbox-checked-icon.svg")
}